html{
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  font-family: "Lato";
}
*,
*::before,
*::after{
  box-sizing: inherit;
}
body{
  font-family: "Lato";
  margin: 0 1.6rem;
  color: rgb(242, 242, 242);
  text-align: center;
  background-color: rgb(19, 19, 19);
}

h5,h3{
  margin: 0;
}

h2{
  text-align: start;
}

a{
  color: white;
}

.list__gif{
  transition: opacity .3s ease-in-out;
  height: 130px;
  position: relative;
}

.list__gif-name{
  position: absolute;
  left: 0rem;
  bottom: 0rem;
  background-color: #0006;
  font-size: .525rem;
}

.list__gifs{
  margin-bottom: 1.2rem;
  display: grid;
  gap: .6rem;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-template-rows: masonry;
}

.list__gif-img{
  width: 100%;
  height: 100%;
}

.list__gif:hover .list__gif-img{
  border: 2px solid rgb(162, 4, 198);
}

.gif__searcher{
  margin-bottom: 2rem;
}

.gif__searcher-input, .gif__searcher-button{
  height: 1.8rem;
  outline: none;
}

.gif__searcher-input{
  font-family: "Lato";
  color: rgb(67, 67, 67);
  border-radius: 1rem 0 0 1rem;
  border: 0 solid white;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: .6rem;
}

.gif__searcher-input::placeholder{
  color: rgba(41, 41, 41, .6);
  font-size: .7rem;
  font-family: "Lato";
}

.gif__searcher-button{
  height: 2rem;
  border-radius: 0 1rem 1rem 0;
  color: #fff;
  font-size: .9rem;
  font-family: "Lato";
  background-color: rgb(162, 4, 198);
  cursor: pointer;
}

.onegif{
  display: grid;
  justify-items: center;
  gap: 1rem;
}

.onegif__img{
  max-width: 380px;
  min-width: 300px;
  max-height: 380px;
  min-height: 300px;
}

.list__trending{
  margin-bottom: 1.2rem;
}

.list__trending-item{
  display: inline-block;
  cursor: pointer;
  margin-right: .4rem;
  border-radius: .6rem;
  margin-bottom: .6rem;
  background-color: rgb(162, 4, 198);
  padding: .4rem .4rem;
  transition: background-color .3s ease-in-out;
}

.list__trending-item:hover{
  background-color: rgba(209, 49, 190, 0.518);
}

@media screen and (min-width: 1280px){
  body{
    zoom: 110%;
  }
}

@media screen and (min-width: 1920px){
  body{
    zoom: 160%;
  }
}